{
	debug
}

mongo.lone-faerie.xyz {
	uri strip_prefix /api
	@cors {
		method OPTIONS
	}

	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Headers *
	}

	reverse_proxy /user* mongo.lone-faerie.xyz:8081 {
		header_down -Access-Control*
	}
	reverse_proxy /location* mongo.lone-faerie.xyz:8080 {
		header_down -Access-Control*
	}
	respond @cors 204
}
